.resize-drag {
  width: 120px;
  border-radius: 8px;
  padding: 20px;
  margin: 1rem;
  color: white;
  font-size: 20px;
  font-family: sans-serif;

  touch-action: none;

  /* This makes things *much* easier */
  box-sizing: border-box;
}

#myChart {
    width: 600px; /* Ancho deseado */
    height: 400px; /* Altura deseada */
  }

  
  .navbar {
    background-color: #333; /* Color de fondo del navbar superior */
    /* Estilos de tu navbar superior */
}

.sub-navbar {
    text-align: center; /* Centrar las opciones del navbar inferior */
    background-color: #f5f5f5; /* Color de fondo del navbar inferior */
    /* Estilos adicionales para el navbar inferior */
}

.sub-navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sub-navbar ul li {
    display: inline-block;
    margin: 0 10px; /* Espacio entre las opciones del navbar inferior */
}

.sub-navbar ul li a {
    color: #333; /* Color de texto de las opciones del navbar inferior */
    text-decoration: none;
    padding: 10px 20px; /* Espaciado interno de las opciones del navbar inferior */
    border: 1px solid #ccc; /* Borde de las opciones del navbar inferior */
    border-radius: 5px; /* Borde redondeado de las opciones del navbar inferior */
}

.sub-navbar ul li a:hover {
    background-color: #ddd; /* Color de fondo al pasar el ratón por encima de las opciones del navbar inferior */
}




  .sidebar {
    position: fixed;
    top: 100px;
    right: -300px; /* Asegúrate de que la anchura del sidebar coincida con este valor */
    width: 300px; /* Ancho del sidebar */
    height: 100%;
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 20px;
    transition: right 0.3s ease;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: black;
  }
  
  .sidebar button {
    display: block;
    margin-bottom: 10px;
  }
  
.sidebar-arrow {
  position: absolute;
  top: 0; /* Colocar el div de la flecha en la parte superior del div principal */
  bottom: 0; /* Asegurar que ocupe toda la altura del div principal */
  left: -30px; /* Ajusta el desplazamiento de la flecha */
  z-index: 1; /* Asegura que la flecha esté detrás del botón */
  background-color:yellowgreen;
  cursor: pointer;
  border: 1px solid black;
  transition: background-color 0.3s ease; /* Transición para el cambio de color */
}

.sidebar-arrow svg {
  width: 30px;
  height: 30px;
  transform: translateY(50%);
}

.sidebar-arrow:hover {
  background-color: green; /* Cambia el color de fondo al pasar el ratón sobre la flecha */
}
  
  
.opcion {
  display: flex;
  align-items: center;
  padding: 10px;
}

.opcion-svg {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease; /* Agrega una transición suave */
}

.opcion:hover .opcion-svg {
  transform: scale(1.2); /* Cambia el tamaño del SVG al pasar el ratón */
}